{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "> 2%",
                    "last 2 versions"
                ]
            }
        }],
        "stage-2",
        "react"
    ]
}
